## Deliverable 3. Create a Travel Itinerary Map.

In [81]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config_Copy1 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [82]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Port Alfred,ZA,67.26,clear sky,-33.5906,26.8910,The Halyards Hotel
1,5,Guarapari,BR,72.52,scattered clouds,-20.6667,-40.4975,Hotel Porto do Sol
2,10,Stephenville,US,67.15,clear sky,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville
3,12,Port Elizabeth,ZA,62.31,broken clouds,-33.9180,25.5701,39 On Nile Guest House
4,13,Guerrero Negro,MX,60.51,few clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"

In [275]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [276]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat","Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center = (30.0,31.0),zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [316]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Byron Bay"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Byron Bay"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Coffs Harbour"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Armidale"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Ballina"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
173,675,Byron Bay,AU,73.71,overcast clouds,-28.65,153.6167,Backpackers Inn

In [317]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
47,190,Coffs Harbour,AU,72.14,broken clouds,-30.3,153.1333,Aquajet Motel

In [318]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
128,472,Armidale,AU,61.09,overcast clouds,-30.5167,151.65,Abbotsleigh Motor Inn

In [319]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
122,448,Ballina,AU,73.78,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron

In [320]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
start = start[0]
start = (start[0], start[1])
end = vacation_end[["Lat","Lng"]].to_numpy()
end = end [0]
end = (end[0], end[1])
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop1 = stop1[0]
stop1 = (stop1[0],stop1[1])
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop2 = stop2[0]
stop2 = (stop2[0],stop2[1])
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
stop3 = stop3[0]
stop3 = (stop3[0],stop3[1])

In [321]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(trip_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [322]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,675,Byron Bay,AU,73.71,overcast clouds,-28.6500,153.6167,Backpackers Inn
1,190,Coffs Harbour,AU,72.14,broken clouds,-30.3000,153.1333,Aquajet Motel
2,472,Armidale,AU,61.09,overcast clouds,-30.5167,151.6500,Abbotsleigh Motor Inn
3,448,Ballina,AU,73.78,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron

In [323]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [324]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat","Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center = (-29.0,153.0),zoom_level = 7.0)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))